<h1 class="bioRhyme">Welcome to the index</h1>
<p>this can be edited at a later time when we atleast have it going.</p>


<h3 class="bioRhyme">This is a second header just for fun...</h3>

<div class="container">
  <button class="btn btn-default btn-lg btn-link" style="font-size:36px;">
    <span class="glyphicon glyphicon-comment"></span>
  </button>
  <span class="badge badge-notify">3</span>
</div>

<h1>.......Toggleable pills......</h1>

<ul class="nav nav-pills">
  <li class="active"><a data-toggle="pill" href="#home">Home<span class="badge">23</span></a></li>
  <li><a data-toggle="pill" href="#menu1">Menu 1<span class="badge">23</span></a></li>
  <li><a data-toggle="pill" href="#menu2">Menu 2<span class="badge">23</span></a></li>
</ul>

<div class="tab-content">
  <div id="home" class="tab-pane fade in active">
    <h3>HOME</h3>
    <p>Some content.</p>
  </div>
  <div id="menu1" class="tab-pane fade">
    <h3>Menu 1</h3>
    <p>Some content in menu 1.</p>
  </div>
  <div id="menu2" class="tab-pane fade">
    <h3>Menu 2</h3>
    <p>Some content in menu 2.</p>
  </div>
</div>